@import "tailwindcss";

body {
    background-color: #fffdfd;

}

@keyframes slideMobile {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 767px) {
    .animate-slideMobile {
        animation: slideMobile 15s linear infinite;
    }
}   